<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.se.projectmanagement">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
        android:name=".ProjectList"
        android:label="@string/projectList"
        android:parentActivityName=".MainActivity">
        <intent-filter>
            <action android:name=".ProjectList" />

            <category android:name="android.intent.category.DEFAULT" />
        </intent-filter>
        </activity>
        <activity
            android:name=".ProjectDetail"
            android:label="Project Detail"
            android:parentActivityName=".ProjectList">
            <intent-filter>
                <action android:name=".ProjectDetail" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ProjectAdd"
            android:label="Project Add"
            android:parentActivityName=".ProjectList">
            <intent-filter>
                <action android:name=".ProjectAdd" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MilestoneList"
            android:label="Milestone List"
            android:parentActivityName=".ProjectDetail">
            <intent-filter>
                <action android:name=".MilestoneList" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MilestoneDetail"
            android:label="Milestone Detail"
            android:parentActivityName=".MilestoneList">
            <intent-filter>
                <action android:name=".MilestoneDetail" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MilestoneAdd"
            android:label="Milestone Add"
            android:parentActivityName=".MilestoneList">
            <intent-filter>
                <action android:name=".MilestoneAdd" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".TaskList"
            android:label= "Task List"
            android:parentActivityName=".MainActivity">
            <intent-filter>
                <action android:name=".TaskList" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".TaskDetail"
            android:label="Task Detail"
            android:parentActivityName=".TaskList">
            <intent-filter>
                <action android:name=".TaskDetail" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".TaskAdd"
            android:label="Task Add"
            android:parentActivityName=".TaskList">
            <intent-filter>
                <action android:name=".TaskAdd" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ProblemList"
            android:label="Problem List"
            android:parentActivityName=".MainActivity">
            <intent-filter>
                <action android:name=".ProblemList" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ProblemAdd"
            android:label="Problem Add"
            android:parentActivityName=".ProblemList">
            <intent-filter>
                <action android:name=".ProblemAdd" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ProblemDetail"
            android:label="Problem Detail"
            android:parentActivityName=".ProblemList">
            <intent-filter>
                <action android:name=".ProblemDetail" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

    </application>

</manifest>